<%= form_for([@account, @account.transactions.build]) do |form| %>

  <div class="field">
    <%= form.label :account_id %>
    <%= form.text_field :account_id, id: :transaction_account_id %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_select :date, id: :transaction_date %>
  </div>

  <div class="field">
    <%= form.label :category %>
    <%= form.text_field :category, id: :transaction_category %>
  </div>

  <div class="field">
    <%= form.label :comment %>
    <%= form.text_field :comment, id: :transaction_comment %>
  </div>

  <div class="field">
    <%= form.label :amount %>
    <%= form.text_field :amount, id: :transaction_amount %>
  </div>

  <div class="field">
    <%= form.label :done %>
    <%= form.check_box :done, id: :transaction_done %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
