<h3>Transaction</h3>
<p>
  <strong>Account:</strong>
  <%= transaction.account.account_number %>
</p>

<p>
  <strong>Date:</strong>
  <%= transaction.date %>
</p>

<p>
  <strong>Category:</strong>
  <%= transaction.category %>
</p>

<p>
  <strong>Comment:</strong>
  <%= transaction.comment %>
</p>

<p>
  <strong>Amount:</strong>
  <%= transaction.amount %>
</p>

<p>
  <strong>Done:</strong>
  <%= transaction.done %>
</p>